#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* =========== login =============== */

.form {
  display: flex;
  flex-direction: column;
  width: 30ch;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__input input {
  padding: 0.5rem;
}

.form__error {
  color: rgb(222, 125, 125);
  margin-bottom: 0.5rem;
}

/* ================================= */

/* ============ home =============== */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__options {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* =================================== */

/* =========== quiz ================== */

hr {
  border: none;
  border-top: 1px solid #f3f3f3;
}

.quiz {
  width: 70ch;
}

.quiz__header {
  display: flex;
  justify-content: space-between;
}

.quiz__answers {
  display: flex;
  gap: 1rem;
}

/* =================================== */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
